* {
    font-family: FontAwesome, Jetbrains Mono, Hermit, Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
}

window#waybar {
    background: rgba(43,48,59, 0.1);
}

window#waybar.hidden {
    opacity: 0.2;
}


window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

button {
    box-shadow: inset 0 -3px transparent;
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    box-shadow: inset 0 -3px #cccccc;
}

#workspaces button {
    padding: 0 5px;
    background-color: rgba(40,42,34, 0.25);
    color: #e2e2e3;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
}

#workspaces button.active {
    background: rgba(40,42,34, 0.7);
    box-shadow: inset 0 -3px #e2e2e3;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode {
    background-color: #64727D;
    border-bottom: 3px solid #e2e2e3;
}

#clock,
#battery,
#cpu,
#bluetooth,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-wireplumber-mic,
#custom-spotify,
#custom-media,
#keyboard-state,
#custom-media,
#tray,
#mode,
#language, 
#idle_inhibitor,
#scratchpad,
#cava,
#mpd {
    /* border-radius: 7px; */
    padding: 0 10px;
    /* color: #181819; */
    color: #e2e2e3;
    /* margin: 0 1px; */
}

#window,
#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

#custom-spotify,
#custom-media {
    background: #9ed072;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    font-size: 15px;
    /* background: #f39660; */
    color: #e2e2e3;
    border: solid;
    border-color: #e2e2e3;
    /* background: rgba(43,48,59, 1.0); */
}

/* #cava { */
/*     background: #e7c664; */
/* } */

#battery {
    /* color: #181819; */
    /* background: #b39df3; */
    border-radius: 20px;
}

#battery.charging, #battery.plugged {
    background-color: #26A65B;
}

@keyframes blink {
    to {
        background-color: #e2e2e3;
        color: #181819;
    }
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #181819;
}

/* #cpu { */
/*     background-color: #76cce0; */
/* } */
/**/
/* #memory { */
/*     background-color: #76cce0; */
/* } */
/**/
/* #disk { */
/*     background-color: #964B00; */
/* } */
/**/
/* #backlight { */
/*     background-color: #e7c664; */
/* } */
/**/
/* #network { */
/*     background-color: #b39df3; */
/* } */
/**/
/* #network.disconnected { */
/*     background-color: #fc5d7c; */
/* } */
/**/
/* #bluetooth { */
/*     background-color: #b39df3; */
/* } */
/* #wireplumber { */
/*     background-color: #e7c664; */
/* } */
/**/
/* #wireplumber.muted { */
/*     background-color: #fc5d7c; */
/* } */
/* #custom-wireplumber-mic { */
/*     background-color: #e7c664; */
/* } */
/* #custom-wireplumber-mic.muted { */
/*     background-color: #fc5d7c; */
/* } */
/**/
/* #language { */
/*     background-color: #9ed072; */
/*     padding: 0 10px; */
/*     min-width: 16px; */
/* } */
/**/
#keyboard-state {
    /* background: #9ed072; */
    padding: 0 10px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 10px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
 
}

